<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunkaisens.ibss.job.dao.JobMapper">
    <resultMap id="BaseResultMap" type="com.sunkaisens.ibss.job.domain.Job">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="job_id" jdbcType="DECIMAL" property="jobId"/>
        <result column="bean_name" jdbcType="VARCHAR" property="beanName"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="queryList" resultType="job">
        select job_id          jobId,
               bean_name       beanName,
               method_name     methodName,
               params,
               cron_expression cronExpression,
               status,
               remark,
               create_time     createTime
        from t_job
        order by job_id
    </select>
</mapper>