<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunkaisens.ibss.system.dao.DeptMapper">
    <!-- 删除带子级的数据 用 union all 求出来 子级和父级的数据
      SELECT T.DEPT_ID,T.PARENT_ID,T.DEPT_NAME   FROM T_DEPT T WHERE  T.DEPT_ID= #{deptId}
           UNION ALL
         SELECT t.DEPT_ID,t.PARENT_ID,t.DEPT_NAME from T_DEPT T JOIN  T_DEPT P ON T.PARENT_ID=P.DEPT_ID-->
  <delete id="deleteDepts" parameterType="string">
	 DELETE FROM T_DEPT WHERE 
	      DEPT_ID IN
	    (SELECT M.DEPT_ID FROM
	      (SELECT T.DEPT_ID,T.PARENT_ID,T.DEPT_NAME   FROM T_DEPT T WHERE  T.DEPT_ID= #{deptId}
	           UNION ALL
	         SELECT t.DEPT_ID,t.PARENT_ID,t.DEPT_NAME from T_DEPT T JOIN  T_DEPT P ON T.PARENT_ID=P.DEPT_ID)M)
    </delete>
</mapper>